<section id="risk-limiting-audits-intro" class="center"
  data-background="{{basepath}}assets/images/slide_backgrounds/processed/slide6.png">
  <div class="slide-content" style="font-size: 14px !important">
    <h2>Working smarter, not harder</h2>
    <p>Several years ago, Professor Phillip Stark at the University of California, Berkeley came up with a new method to
      achieve a higher level of statistical confidence in election results while counting significantly fewer ballots.
      This technique is called a “risk-limiting audit,” and election security experts consider it to be the gold
      standard.</p>

    <p>
      There are several different types of risk-limiting audits. They differ primarily in how they are carried out, but
      all offer the same strong statistical guarantee in the result. These guarantees are provided by something called
      the <a href="https://en.wikipedia.org/wiki/Sequential_probability_ratio_test">sequential probability ratio
        test</a> (SPRT).
    </p>


    <p>
      First, we have what is called a <i>null hypothesis</i>: we assume that the initial count is correct. The
      <i>alternative
        hypothesis</i> is the opposite assumption —that for whatever reason (dust in the scanner lens, voter error,
      Russian
      interference), the initial reported count is incorrect.
    </p>

    <p>
      Next, we begin randomly choosing and examining data points. In our case, these are the hand-marked paper ballots
      cast during the election. Each ballot that we examine that lists the supposed winner gives us <i>more
        confidence</i> in
      the
      initial result; in other words, it favors the null hypothesis. Likewise, each ballot we see that was cast for the
      loser dampens our confidence; it favors the alternative hypothesis.
    </p>

    <p>
      Think of this like the old adage, “two steps forward, one step back”. We might not <i>always</i> take a sample
      that gives
      us confidence, but on the balance, the totality of samples will give us more confidence in our initial result than
      not, assuming the initial result is, in fact, correct.
    </p>
  </div>
</section>

<section class="center" id="audit-stopping-conditions"
  data-background="{{basepath}}assets/images/slide_backgrounds/processed/audit-stopping-conditions.jpg">
  <div class="slide-content">
    <p>
      So how do we know when to stop collecting samples? We want to do so at the point when we are confident that the
      supposed winner is the correct one. (We can never be 100 percent sure, of course.) Here, we use a value called the
      risk-limit, which is just the error rate you are willing to tolerate. For example, a risk-limit of 10% means there
      is
      a 90% chance that the audit will detect an error in the results, if one exists. You can tune this value to your
      liking
      based on your risk profile and resource constraints.
    </p>

    <p>
      The margin of victory will also determine how many ballots we need to count. If the margin of victory is greater,
      then
      it would be harder for any individual ballot to affect the results, so we can start with more confidence in the
      outcome. The sequential probability ratio test takes into account both confidence in the result and margin of
      victory
      when it calculates how many ballots to count.
    </p>
  </div>
</section>

<section class="center" id="sampling-with-replacement"
  data-background="{{basepath}}assets/images/slide_backgrounds/processed/sampling-with-replacement.png">
  <div class="slide-content">
    <p>
      One last thing about a risk-limiting audit that is somewhat strange is the concept of sampling with replacement.
      After you check every ballot, you put it back in exactly the same spot before choosing another ballot. This means
      that you may choose the same ballot more than once! Why would we do this? We already know that a ballot is
      accurate once we’ve checked it, there shouldn’t be any need to check it again!
    </p>


    <p>
      Remember, we are most concerned with the percentage of votes cast for the supposed winner. Have you ever been at
      the pool when the lifeguards check the chlorine levels? They use a small vial, no matter if it’s a neighborhood
      pool or a giant, Olympic-sized one. This is because the amount of water in the pool isn’t important, but rather
      the percentage of chlorine. Similarly, taking a sample with a teaspoon and a giant bucket will both give the same
      percentage of chlorine in the pool.
    </p>

    <p>
      If we were to remove the ballot once we’ve checked it, we would establish a relationship between our samples.
      Simply
      picking one ballot changes the probabilities of selecting all the other ballots, and changing these probabilities
      mucks with the assumptions of the SPRT.
    </p>
  </div>
</section>

<section class="center" id="rla-types"
  data-background="{{basepath}}assets/images/slide_backgrounds/processed/slide7.png">
  <div class="slide-content">
    <p>
      Now let’s look at the actual steps required to conduct a risk-limiting audit. There are several different types of
      risk-limiting audits. The differences between the methods mainly concern how samples are collected. The method a
      given election administrator chooses is largely dependent on the voting equipment they use. Different voting
      systems have different capabilities for identifying and storing individual ballots, which is critical in the
      risk-limiting audit math because it affects our ability to ensure we can sample with replacement.
    </p>

    <p>
      The method we will examine today is called “ballot polling.” This means we can select any ballot for examination,
      regardless of where or how it was cast.
    </p>

    <p>
      The solution on the next page represents a heavily simplified election. We want to illustrate the process of conducting a risk-limiting audit, so
      we’ve fixed the values so you can focus on the steps. In this election, 100 votes were cast, 10 at each polling
      place. Green won the election with 80% of the vote and the recorded votes reflect this reality. We also fix a
      risk
      limit of 10%. The slider represents how many votes we’ve counted during our audit. Move the slider to walk
      through the audit step by step. You’ll see how every ballot we examine changes our confidence level, and you can
      see how many ballots it takes to reach the appropriate confidence threshold.
    </p>
  </div>

</section>

<section id="rla-simulation">
  <div id="wrapper-container" class="simulation-content">
    <div id="slider-container">
      <label for="simulation2-stepper">Number of votes audited:</label>
      <div id="simulation2-stepper"></div>
    </div>

    <div id='simulation2-container'>

      <div class="precinct-container">
        <p>Precinct 1</p>
        <svg id="precinct1" viewBox="0 0 110 20" preserveAspectRatio="xMidYMid meet" style="background:white"></svg>
      </div>

      <div class="precinct-container">
        <p>Precinct 2</p>
        <svg id="precinct2" viewBox="0 0 110 20" style="background:white"></svg>
      </div>

      <div class="precinct-container">
        <p>Precinct 3</p>
        <svg id="precinct3" viewBox="0 0 110 20" style="background:white"></svg>
      </div>

      <div class="precinct-container">
        <p>Precinct 4</p>
        <svg id="precinct4" viewBox="0 0 110 20" style="background:white"></svg>
      </div>

      <div class="precinct-container">
        <p>Precinct 5</p>
        <svg id="precinct5" viewBox="0 0 110 20" style="background:white"></svg>
      </div>

      <div class="precinct-container">
        <p>Precinct 6</p>
        <svg id="precinct6" viewBox="0 0 110 20" style="background:white"></svg>
      </div>

      <div class="precinct-container">
        <p>Precinct 7</p>
        <svg id="precinct7" viewBox="0 0 110 20" style="background:white"></svg>
      </div>

      <div class="precinct-container">
        <p>Precinct 8</p>
        <svg id="precinct8" viewBox="0 0 110 20" style="background:white"></svg>
      </div>

      <div class="precinct-container">
        <p>Precinct 9</p>
        <svg id="precinct9" viewBox="0 0 110 20" style="background:white"></svg>
      </div>

      <div class="precinct-container">
        <p>Precinct 10</p>
        <svg id="precinct10" viewBox="0 0 110 15" style="background:white"></svg>
      </div>


    </div>

    <div id="running-total-container">
      <svg></svg>
    </div>
  </div>

</section>

<section id="rla-simulation-summary" class="center"
  data-background="{{basepath}}assets/images/slide_backgrounds/processed/slide9.png">
  <div class="slide-content">
    <p>A couple quick things to point out here. The first is that we use multiplication as it allows us to "accelerate"
      our progress as we gain confidence. Another is that we can look at the same ballot more than once. This is pretty
      counterintuitive! Why would we need to verify something if we’ve already manually double-checked it? The answer is
      that we want to treat every ballot the exact same. Removing some ballots means it gets slightly more likely that
      we
      pick a new ballot each time, which could bias our results.</p>
  </div>
</section>
